In [31]:
import pandas as pd
import numpy as np
from datetime import datetime

In [3]:
df = pd.read_csv('kc_house_data.csv')

In [4]:
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,10/13/2014,221900.0,3,1.00,1180,5650,1.0,NaN,0.0,...,7,1180,0.0,1955,0.0,98178,47.5112,-122.257,1340,5650
1,6414100192,12/9/2014,538000.0,3,2.25,2570,7242,2.0,0.0,0.0,...,7,2170,400.0,1951,1991.0,98125,47.7210,-122.319,1690,7639
2,5631500400,2/25/2015,180000.0,2,1.00,770,10000,1.0,0.0,0.0,...,6,770,0.0,1933,NaN,98028,47.7379,-122.233,2720,8062
3,2487200875,12/9/2014,604000.0,4,3.00,1960,5000,1.0,0.0,0.0,...,7,1050,910.0,1965,0.0,98136,47.5208,-122.393,1360,5000
4,1954400510,2/18/2015,510000.0,3,2.00,1680,8080,1.0,0.0,0.0,...,8,1680,0.0,1987,0.0,98074,47.6168,-122.045,1800,7503

In [5]:
sum(df.id.duplicated())

177

In [6]:
df.loc[df['id'].duplicated(keep = False)] # shows all duplicates - and original to see if they are duplicated across all rows
# looks like some id duplicates have different dates - indicating multiple sales of the same house

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
93,6021501535,7/25/2014,430000.0,3,1.50,1580,5000,1.0,0.0,0.0,...,8,1290,290.0,1939,0.0,98117,47.6870,-122.386,1570,4500
94,6021501535,12/23/2014,700000.0,3,1.50,1580,5000,1.0,0.0,0.0,...,8,1290,290.0,1939,0.0,98117,47.6870,-122.386,1570,4500
313,4139480200,6/18/2014,1380000.0,4,3.25,4290,12103,1.0,0.0,3.0,...,11,2690,1600.0,1997,0.0,98006,47.5503,-122.102,3860,11244
314,4139480200,12/9/2014,1400000.0,4,3.25,4290,12103,1.0,0.0,3.0,...,11,2690,1600.0,1997,0.0,98006,47.5503,-122.102,3860,11244
324,7520000520,9/5/2014,232000.0,2,1.00,1240,12092,1.0,NaN,0.0,...,6,960,280.0,1922,1984.0,98146,47.4957,-122.352,1820,7460
325,7520000520,3/11/2015,240500.0,2,1.00,1240,12092,1.0,0.0,0.0,...,6,960,280.0,1922,1984.0,98146,47.4957,-122.352,1820,7460
345,3969300030,7/23/2014,165000.0,4,1.00,1000,7134,1.0,0.0,0.0,...,6,1000,0.0,1943,0.0,98178,47.4897,-122.240,1020,7138
346,3969300030,12/29/2014,239900.0,4,1.00,1000,7134,1.0,0.0,0.0,...,6,1000,0.0,1943,NaN,98178,47.4897,-122.240,1020,7138
371,2231500030,10/1/2014,315000.0,4,2.25,2180,10754,1.0,NaN,0.0,...,7,1100,1080.0,1954,0.0,98133,47.7711,-122.341,1810,6929
372,2231500030,3/24/2015,530000.0,4,2.25,2180,10754,1.0,0.0,0.0,...,7,1100,1080.0,1954,0.0,98133,47.7711,-122.341,1810,6929
717,8820903380,7/28/2014,452000.0,6,2.25,2660,13579,2.0,0.0,0.0,...,7,2660,0.0,1937,1990.0,98125,47.7142,-122.286,1120,8242
718,8820903380,1/2/2015,730000.0,6,2.25,2660,13579,2.0,0.0,0.0,...,7,2660,0.0,1937,1990.0,98125,47.7142,-122.286,1120,8242
823,726049190,10/2/2014,287500.0,3,1.00,1810,7200,1.0,0.0,0.0,...,7,1130,680.0,1954,0.0,98133,47.7493,-122.351,1810,8100
824,726049190,2/18/2015,431000.0,3,1.00,1810,7200,1.0,NaN,0.0,...,7,1130,680.0,1954,0.0,98133,47.7493,-122.351,1810,8100
836,8682262400,7/18/2014,430000.0,2,1.75,1350,4003,1.0,0.0,0.0,...,8,1350,0.0,2004,0.0,98053,47.7176,-122.033,1350,4479
837,8682262400,5/13/2015,419950.0,2,1.75,1350,4003,1.0,0.0,0.0,...,8,1350,0.0,2004,0.0,98053,47.7176,-122.033,1350,4479
1084,9834200885,7/17/2014,360000.0,4,2.50,2080,4080,1.0,0.0,0.0,...,7,1040,1040.0,1962,0.0,98144,47.5720,-122.290,1340,4080
1085,9834200885,4/20/2015,550000.0,4,2.50,2080,4080,1.0,0.0,0.0,...,7,1040,1040.0,1962,0.0,98144,47.5720,-122.290,1340,4080
1127,8062900070,9/9/2014,272000.0,5,1.50,2550,6300,1.0,0.0,0.0,...,7,1560,990.0,1959,0.0,98056,47.5014,-122.172,1380,6300
1128,8062900070,2/13/2015,369000.0,5,1.50,2550,6300,1.0,0.0,0.0,...,7,1560,990.0,1959,NaN,98056,47.5014,-122.172,1380,6300
1200,1231000510,9/22/2014,263000.0,3,1.75,1490,3800,1.0,0.0,0.0,...,6,700,790.0,1913,0.0,98118,47.5554,-122.270,2180,4000
1201,1231000510,5/4/2015,510000.0,3,1.75,1490,3800,1.0,0.0,0.0,...,6,700,790.0,1913,0.0,98118,47.5554,-122.270,2180,4000
1232,6117501820,6/18/2014,250275.0,2,1.00,790,11234,1.0,0.0,0.0,...,6,790,0.0,1942,0.0,98166,47.4413,-122.349,1930,11871
1233,6117501820,4/28/2015,435000.0,2,1.00,790,11234,1.0,0.0,0.0,...,6,790,0.0,1942,0.0,98166,47.4413,-122.349,1930,11871
1448,2228900270,8/12/2014,215000.0,2,1.00,1010,6000,1.0,0.0,0.0,...,6,1010,0.0,1944,NaN,98133,47.7710,-122.353,1610,7313
1449,2228900270,2/12/2015,302000.0,2,1.00,1010,6000,1.0,NaN,0.0,...,6,1010,0.0,1944,0.0,98133,47.7710,-122.353,1610,7313
1462,3630120700,5/13/2014,757000.0,3,3.25,3190,5283,2.0,0.0,0.0,...,9,3190,0.0,2007,0.0,98029,47.5534,-122.002,2950,5198
1463,3630120700,1/7/2015,765000.0,3,3.25,3190,5283,2.0,0.0,0.0,...,9,3190,0.0,2007,0.0,98029,47.5534,-122.002,2950,5198
1574,7888000390,6/27/2014,140000.0,3,1.00,1060,7473,1.0,0.0,0.0,...,7,1060,0.0,1959,0.0,98198,47.3699,-122.309,1320,7912
1575,7888000390,4/1/2015,235000.0,3,1.00,1060,7473,1.0,0.0,0.0,...,7,1060,0.0,1959,NaN,98198,47.3699,-122.309,1320,7912
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18219,6751300375,7/2/2014,415000.0,3,1.00,1520,9030,1.0,0.0,0.0,...,7,1520,0.0,1956,0.0,98007,47.5870,-122.134,1470,8712
18220,6751300375,10/16/2014,522500.0,3,1.00,1520,9030,1.0,0.0,0.0,...,7,1520,0.0,1956,NaN,98007,47.5870,-122.134,1470,8712
18549,7657000540,9/2/2014,165000.0,4,1.00,1220,7980,1.5,0.0,0.0,...,6,1220,0.0,1944,0.0,98178,47.4924,-122.237,1210,7920
18550,7657000540,3/4/2015,260000.0,4,1.00,1220,7980,1.5,0.0,0.0,...,6,1220,0.0,1944,0.0,98178,47.4924,-122.237,1210,7920
18688,3558900590,11/25/2014,360000.0,6,1.75,2230,10080,1.0,0.0,0.0,...,7,1390,840.0,1969,0.0,98034,47.7089,-122.201,2110,8475
18689,3558900590,3/24/2015,692500.0,6,1.75,2230,10080,1.0,0.0,0.0,...,7,1390,840.0,1969,0.0,98034,47.7089,-122.201,2110,8475
18690,8121100395,6/24/2014,425000.0,4,1.50,1600,6180,1.5,0.0,0.0,...,6,1600,0.0,1946,0.0,98118,47.5681,-122.285,1410,6180
18691,8121100395,3/11/2015,645000.0,4,1.50,1600,6180,1.5,0.0,0.0,...,6,1600,0.0,1946,0.0,98118,47.5681,-122.285,1410,6180
18747,3332000615,10/20/2014,310000.0,3,1.00,1330,3740,1.5,0.0,0.0,...,6,1330,0.0,1903,NaN,98118,47.5502,-122.274,1330,5053
18748,3332000615,4/22/2015,389000.0,3,1.00,1330,3740,1.5,NaN,0.0,...,6,1330,0.0,1903,0.0,98118,47.5502,-122.274,1330,5053
18976,7856400300,7/2/2014,1410000.0,2,2.50,3180,9400,2.0,0.0,4.0,...,10,2610,570.0,1985,0.0,98006,47.5617,-122.158,3760,9450
18977,7856400300,3/22/2015,1510000.0,2,2.50,3180,9400,2.0,0.0,4.0,...,10,2610,570.0,1985,0.0,98006,47.5617,-122.158,3760,9450
19194,1901600090,6/26/2014,359000.0,5,1.75,1940,6654,1.5,0.0,0.0,...,7,1940,0.0,1953,0.0,98166,47.4663,-122.359,2300,9500
19195,1901600090,4/26/2015,390000.0,5,1.75,1940,6654,1.5,NaN,0.0,...,7,1940,0.0,1953,0.0,98166,47.4663,-122.359,2300,9500
19320,6021500970,5/28/2014,345000.0,2,1.00,1080,4000,1.0,0.0,0.0,...,7,1080,0.0,1940,0.0,98117,47.6902,-122.387,1530,4240
19321,6021500970,4/7/2015,874950.0,2,1.00,1080,4000,1.0,0.0,0.0,...,7,1080,?,1940,NaN,98117,47.6902,-122.387,1530,4240
19536,643300040,11/4/2014,481000.0,4,1.75,1920,9500,1.0,0.0,0.0,...,7,1470,450.0,1966,0.0,98006,47.5683,-122.177,1820,10091
19537,643300040,3/13/2015,719521.0,4,1.75,1920,9500,1.0,0.0,0.0,...,7,1470,450.0,1966,0.0,98006,47.5683,-122.177,1820,10091
20037,8648900110,5/5/2014,555000.0,3,2.50,1940,3211,2.0,0.0,0.0,...,8,1940,0.0,2009,0.0,98027,47.5644,-122.093,1880,3078
20038,8648900110,8/26/2014,555000.0,3,2.50,1940,3211,2.0,0.0,0.0,...,8,1940,0.0,2009,0.0,98027,47.5644,-122.093,1880,3078
20164,7853400250,6/4/2014,610000.0,4,3.50,2910,5260,2.0,0.0,0.0,...,9,2910,0.0,2012,0.0,98065,47.5168,-121.883,2910,5260
20165,7853400250,2/19/2015,645000.0,4,3.50,2910,5260,2.0,0.0,0.0,...,9,2910,0.0,2012,0.0,98065,47.5168,-121.883,2910,5260
20596,2724049222,8/2/2014,163800.0,2,2.50,1000,1092,2.0,NaN,0.0,...,7,990,10.0,2004,0.0,98118,47.5419,-122.271,1330,1466
20597,2724049222,12/1/2014,220000.0,2,2.50,1000,1092,2.0,0.0,0.0,...,7,990,10.0,2004,0.0,98118,47.5419,-122.271,1330,1466
20653,8564860270,7/8/2014,449990.0,4,2.50,2680,5539,2.0,0.0,0.0,...,8,2680,0.0,2013,0.0,98045,47.4759,-121.734,2680,5992
20654,8564860270,3/30/2015,502000.0,4,2.50,2680,5539,2.0,NaN,0.0,...,8,2680,0.0,2013,0.0,98045,47.4759,-121.734,2680,5992
20763,6300000226,6/26/2014,240000.0,4,1.00,1200,2171,1.5,0.0,0.0,...,7,1200,0.0,1933,0.0,98133,47.7076,-122.342,1130,1598
20764,6300000226,5/4/2015,380000.0,4,1.00,1200,2171,1.5,0.0,0.0,...,7,1200,0.0,1933,0.0,98133,47.7076,-122.342,1130,1598
21564,7853420110,10/3/2014,594866.0,3,3.00,2780,6000,2.0,0.0,0.0,...,9,2780,0.0,2013,0.0,98065,47.5184,-121.886,2850,6000
21565,7853420110,5/4/2015,625000.0,3,3.00,2780,6000,2.0,0.0,0.0,...,9,2780,0.0,2013,NaN,98065,47.5184,-121.886,2850,6000

In [8]:
df.loc[((df['id'].duplicated(keep = False)) & (df['price'].duplicated(keep = False)))]

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
93,6021501535,7/25/2014,430000.0,3,1.50,1580,5000,1.0,0.0,0.0,...,8,1290,290.0,1939,0.0,98117,47.6870,-122.386,1570,4500
94,6021501535,12/23/2014,700000.0,3,1.50,1580,5000,1.0,0.0,0.0,...,8,1290,290.0,1939,0.0,98117,47.6870,-122.386,1570,4500
313,4139480200,6/18/2014,1380000.0,4,3.25,4290,12103,1.0,0.0,3.0,...,11,2690,1600.0,1997,0.0,98006,47.5503,-122.102,3860,11244
314,4139480200,12/9/2014,1400000.0,4,3.25,4290,12103,1.0,0.0,3.0,...,11,2690,1600.0,1997,0.0,98006,47.5503,-122.102,3860,11244
324,7520000520,9/5/2014,232000.0,2,1.00,1240,12092,1.0,NaN,0.0,...,6,960,280.0,1922,1984.0,98146,47.4957,-122.352,1820,7460
325,7520000520,3/11/2015,240500.0,2,1.00,1240,12092,1.0,0.0,0.0,...,6,960,280.0,1922,1984.0,98146,47.4957,-122.352,1820,7460
345,3969300030,7/23/2014,165000.0,4,1.00,1000,7134,1.0,0.0,0.0,...,6,1000,0.0,1943,0.0,98178,47.4897,-122.240,1020,7138
346,3969300030,12/29/2014,239900.0,4,1.00,1000,7134,1.0,0.0,0.0,...,6,1000,0.0,1943,NaN,98178,47.4897,-122.240,1020,7138
371,2231500030,10/1/2014,315000.0,4,2.25,2180,10754,1.0,NaN,0.0,...,7,1100,1080.0,1954,0.0,98133,47.7711,-122.341,1810,6929
372,2231500030,3/24/2015,530000.0,4,2.25,2180,10754,1.0,0.0,0.0,...,7,1100,1080.0,1954,0.0,98133,47.7711,-122.341,1810,6929
717,8820903380,7/28/2014,452000.0,6,2.25,2660,13579,2.0,0.0,0.0,...,7,2660,0.0,1937,1990.0,98125,47.7142,-122.286,1120,8242
718,8820903380,1/2/2015,730000.0,6,2.25,2660,13579,2.0,0.0,0.0,...,7,2660,0.0,1937,1990.0,98125,47.7142,-122.286,1120,8242
823,726049190,10/2/2014,287500.0,3,1.00,1810,7200,1.0,0.0,0.0,...,7,1130,680.0,1954,0.0,98133,47.7493,-122.351,1810,8100
824,726049190,2/18/2015,431000.0,3,1.00,1810,7200,1.0,NaN,0.0,...,7,1130,680.0,1954,0.0,98133,47.7493,-122.351,1810,8100
836,8682262400,7/18/2014,430000.0,2,1.75,1350,4003,1.0,0.0,0.0,...,8,1350,0.0,2004,0.0,98053,47.7176,-122.033,1350,4479
837,8682262400,5/13/2015,419950.0,2,1.75,1350,4003,1.0,0.0,0.0,...,8,1350,0.0,2004,0.0,98053,47.7176,-122.033,1350,4479
1084,9834200885,7/17/2014,360000.0,4,2.50,2080,4080,1.0,0.0,0.0,...,7,1040,1040.0,1962,0.0,98144,47.5720,-122.290,1340,4080
1085,9834200885,4/20/2015,550000.0,4,2.50,2080,4080,1.0,0.0,0.0,...,7,1040,1040.0,1962,0.0,98144,47.5720,-122.290,1340,4080
1127,8062900070,9/9/2014,272000.0,5,1.50,2550,6300,1.0,0.0,0.0,...,7,1560,990.0,1959,0.0,98056,47.5014,-122.172,1380,6300
1128,8062900070,2/13/2015,369000.0,5,1.50,2550,6300,1.0,0.0,0.0,...,7,1560,990.0,1959,NaN,98056,47.5014,-122.172,1380,6300
1200,1231000510,9/22/2014,263000.0,3,1.75,1490,3800,1.0,0.0,0.0,...,6,700,790.0,1913,0.0,98118,47.5554,-122.270,2180,4000
1201,1231000510,5/4/2015,510000.0,3,1.75,1490,3800,1.0,0.0,0.0,...,6,700,790.0,1913,0.0,98118,47.5554,-122.270,2180,4000
1233,6117501820,4/28/2015,435000.0,2,1.00,790,11234,1.0,0.0,0.0,...,6,790,0.0,1942,0.0,98166,47.4413,-122.349,1930,11871
1448,2228900270,8/12/2014,215000.0,2,1.00,1010,6000,1.0,0.0,0.0,...,6,1010,0.0,1944,NaN,98133,47.7710,-122.353,1610,7313
1449,2228900270,2/12/2015,302000.0,2,1.00,1010,6000,1.0,NaN,0.0,...,6,1010,0.0,1944,0.0,98133,47.7710,-122.353,1610,7313
1462,3630120700,5/13/2014,757000.0,3,3.25,3190,5283,2.0,0.0,0.0,...,9,3190,0.0,2007,0.0,98029,47.5534,-122.002,2950,5198
1463,3630120700,1/7/2015,765000.0,3,3.25,3190,5283,2.0,0.0,0.0,...,9,3190,0.0,2007,0.0,98029,47.5534,-122.002,2950,5198
1574,7888000390,6/27/2014,140000.0,3,1.00,1060,7473,1.0,0.0,0.0,...,7,1060,0.0,1959,0.0,98198,47.3699,-122.309,1320,7912
1575,7888000390,4/1/2015,235000.0,3,1.00,1060,7473,1.0,0.0,0.0,...,7,1060,0.0,1959,NaN,98198,47.3699,-122.309,1320,7912
1862,2143700830,10/6/2014,207000.0,4,2.50,2100,19680,1.5,NaN,0.0,...,6,2100,0.0,1914,0.0,98055,47.4787,-122.230,1340,12300
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17590,795000620,3/11/2015,157000.0,3,1.00,1080,6250,1.0,NaN,0.0,...,5,1080,0.0,1950,NaN,98168,47.5045,-122.330,1070,6250
17749,1630700361,6/27/2014,530000.0,4,1.75,2860,48351,1.0,0.0,0.0,...,8,1710,1150.0,1978,0.0,98077,47.7605,-122.085,2460,43560
17750,1630700361,4/9/2015,583500.0,4,1.75,2860,48351,1.0,0.0,0.0,...,8,1710,1150.0,1978,0.0,98077,47.7605,-122.085,2460,43560
17837,6791200120,9/23/2014,480000.0,3,2.25,1820,13362,1.0,0.0,0.0,...,8,1220,600.0,1977,0.0,98075,47.5898,-122.052,2050,15000
17838,6791200120,4/7/2015,515000.0,3,2.25,1820,13362,1.0,0.0,0.0,...,8,1220,600.0,1977,0.0,98075,47.5898,-122.052,2050,15000
18219,6751300375,7/2/2014,415000.0,3,1.00,1520,9030,1.0,0.0,0.0,...,7,1520,0.0,1956,0.0,98007,47.5870,-122.134,1470,8712
18220,6751300375,10/16/2014,522500.0,3,1.00,1520,9030,1.0,0.0,0.0,...,7,1520,0.0,1956,NaN,98007,47.5870,-122.134,1470,8712
18549,7657000540,9/2/2014,165000.0,4,1.00,1220,7980,1.5,0.0,0.0,...,6,1220,0.0,1944,0.0,98178,47.4924,-122.237,1210,7920
18550,7657000540,3/4/2015,260000.0,4,1.00,1220,7980,1.5,0.0,0.0,...,6,1220,0.0,1944,0.0,98178,47.4924,-122.237,1210,7920
18688,3558900590,11/25/2014,360000.0,6,1.75,2230,10080,1.0,0.0,0.0,...,7,1390,840.0,1969,0.0,98034,47.7089,-122.201,2110,8475
18689,3558900590,3/24/2015,692500.0,6,1.75,2230,10080,1.0,0.0,0.0,...,7,1390,840.0,1969,0.0,98034,47.7089,-122.201,2110,8475
18690,8121100395,6/24/2014,425000.0,4,1.50,1600,6180,1.5,0.0,0.0,...,6,1600,0.0,1946,0.0,98118,47.5681,-122.285,1410,6180
18691,8121100395,3/11/2015,645000.0,4,1.50,1600,6180,1.5,0.0,0.0,...,6,1600,0.0,1946,0.0,98118,47.5681,-122.285,1410,6180
18747,3332000615,10/20/2014,310000.0,3,1.00,1330,3740,1.5,0.0,0.0,...,6,1330,0.0,1903,NaN,98118,47.5502,-122.274,1330,5053
18748,3332000615,4/22/2015,389000.0,3,1.00,1330,3740,1.5,NaN,0.0,...,6,1330,0.0,1903,0.0,98118,47.5502,-122.274,1330,5053
18976,7856400300,7/2/2014,1410000.0,2,2.50,3180,9400,2.0,0.0,4.0,...,10,2610,570.0,1985,0.0,98006,47.5617,-122.158,3760,9450
18977,7856400300,3/22/2015,1510000.0,2,2.50,3180,9400,2.0,0.0,4.0,...,10,2610,570.0,1985,0.0,98006,47.5617,-122.158,3760,9450
19194,1901600090,6/26/2014,359000.0,5,1.75,1940,6654,1.5,0.0,0.0,...,7,1940,0.0,1953,0.0,98166,47.4663,-122.359,2300,9500
19195,1901600090,4/26/2015,390000.0,5,1.75,1940,6654,1.5,NaN,0.0,...,7,1940,0.0,1953,0.0,98166,47.4663,-122.359,2300,9500
19320,6021500970,5/28/2014,345000.0,2,1.00,1080,4000,1.0,0.0,0.0,...,7,1080,0.0,1940,0.0,98117,47.6902,-122.387,1530,4240
19536,643300040,11/4/2014,481000.0,4,1.75,1920,9500,1.0,0.0,0.0,...,7,1470,450.0,1966,0.0,98006,47.5683,-122.177,1820,10091
20037,8648900110,5/5/2014,555000.0,3,2.50,1940,3211,2.0,0.0,0.0,...,8,1940,0.0,2009,0.0,98027,47.5644,-122.093,1880,3078
20038,8648900110,8/26/2014,555000.0,3,2.50,1940,3211,2.0,0.0,0.0,...,8,1940,0.0,2009,0.0,98027,47.5644,-122.093,1880,3078
20164,7853400250,6/4/2014,610000.0,4,3.50,2910,5260,2.0,0.0,0.0,...,9,2910,0.0,2012,0.0,98065,47.5168,-121.883,2910,5260
20165,7853400250,2/19/2015,645000.0,4,3.50,2910,5260,2.0,0.0,0.0,...,9,2910,0.0,2012,0.0,98065,47.5168,-121.883,2910,5260
20597,2724049222,12/1/2014,220000.0,2,2.50,1000,1092,2.0,0.0,0.0,...,7,990,10.0,2004,0.0,98118,47.5419,-122.271,1330,1466
20654,8564860270,3/30/2015,502000.0,4,2.50,2680,5539,2.0,NaN,0.0,...,8,2680,0.0,2013,0.0,98045,47.4759,-121.734,2680,5992
20763,6300000226,6/26/2014,240000.0,4,1.00,1200,2171,1.5,0.0,0.0,...,7,1200,0.0,1933,0.0,98133,47.7076,-122.342,1130,1598
20764,6300000226,5/4/2015,380000.0,4,1.00,1200,2171,1.5,0.0,0.0,...,7,1200,0.0,1933,0.0,98133,47.7076,-122.342,1130,1598
21565,7853420110,5/4/2015,625000.0,3,3.00,2780,6000,2.0,0.0,0.0,...,9,2780,0.0,2013,NaN,98065,47.5184,-121.886,2850,6000

In [15]:
# We checked for duplicates and couldn't find any exact duplicates across the df. There was a small number (312) 
# of houses that had sold more than once as opposed to being duplicate entries, but this was an insufficient 
# sample size for doing any meaningful analysis and they all had different dates.

In [16]:
df.duplicated().sum()

0

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21597 entries, 0 to 21596
Data columns (total 21 columns):
id               21597 non-null int64
date             21597 non-null object
price            21597 non-null float64
bedrooms         21597 non-null int64
bathrooms        21597 non-null float64
sqft_living      21597 non-null int64
sqft_lot         21597 non-null int64
floors           21597 non-null float64
waterfront       19221 non-null float64
view             21534 non-null float64
condition        21597 non-null int64
grade            21597 non-null int64
sqft_above       21597 non-null int64
sqft_basement    21597 non-null object
yr_built         21597 non-null int64
yr_renovated     17755 non-null float64
zipcode          21597 non-null int64
lat              21597 non-null float64
long             21597 non-null float64
sqft_living15    21597 non-null int64
sqft_lot15       21597 non-null int64
dtypes: float64(8), int64(11), object(2)
memory usage: 3.5+ MB

In [27]:
# checking for nan and any other null values in our prioritized columns

In [18]:
df.price.isna().sum()

0

In [19]:
df.sqft_living.isna().sum()

0

In [22]:
df.lat.isna().sum()

0

In [21]:
df.long.isna().sum()

0

In [23]:
df.price.value_counts()

350000.0    172
450000.0    172
550000.0    159
500000.0    152
425000.0    150
325000.0    148
400000.0    145
375000.0    138
300000.0    133
525000.0    131
250000.0    130
475000.0    120
330000.0    119
650000.0    117
275000.0    113
415000.0    111
315000.0    111
390000.0    110
600000.0    110
440000.0    109
280000.0    109
320000.0    107
435000.0    105
340000.0    103
310000.0    101
335000.0     98
420000.0     97
360000.0     96
260000.0     95
265000.0     94
           ...
402395.0      1
575550.0      1
271310.0      1
242150.0      1
837500.0      1
608095.0      1
287653.0      1
484259.0      1
336800.0      1
873000.0      1
837700.0      1
118000.0      1
641200.0      1
969000.0      1
386180.0      1
608500.0      1
542950.0      1
968933.0      1
641250.0      1
575700.0      1
739500.0      1
575575.0      1
418900.0      1
234975.0      1
804995.0      1
870515.0      1
336950.0      1
386100.0      1
176250.0      1
884744.0      1
Name: price, Length: 3622, dtype: int64

In [24]:
df.sqft_living.value_counts()

1300     138
1400     135
1440     133
1660     129
1010     129
1800     129
1820     128
1480     125
1720     125
1540     124
1560     124
1320     122
1250     120
1580     119
1200     118
1370     118
1650     117
1900     117
1780     117
1680     116
2100     116
1460     116
1430     115
1740     115
1830     114
1510     114
1340     113
1260     113
1500     112
1240     112
        ...
2153       1
2105       1
2007       1
6085       1
2015       1
8020       1
12050      1
1767       1
1639       1
2473       1
440        1
2601       1
5210       1
3545       1
1496       1
5530       1
1352       1
3305       1
1256       1
3273       1
1048       1
2665       1
5130       1
3065       1
3001       1
4970       1
2905       1
2793       1
4810       1
1975       1
Name: sqft_living, Length: 1034, dtype: int64

In [25]:
df.lat.value_counts()

47.6624    17
47.5491    17
47.5322    17
47.6846    17
47.6711    16
47.6886    16
47.6955    16
47.6647    15
47.6904    15
47.6860    15
47.6842    15
47.5402    15
47.5518    14
47.6853    14
47.5427    14
47.5323    14
47.5396    14
47.6729    14
47.5445    14
47.6844    14
47.6727    14
47.7076    14
47.5533    14
47.6651    14
47.6914    14
47.6374    14
47.5342    14
47.6534    14
47.5400    14
47.6821    14
           ..
47.4004     1
47.5152     1
47.3753     1
47.2063     1
47.4140     1
47.5410     1
47.6290     1
47.3578     1
47.4138     1
47.4717     1
47.6564     1
47.3354     1
47.3923     1
47.1808     1
47.3890     1
47.6613     1
47.2679     1
47.4085     1
47.2685     1
47.3240     1
47.4671     1
47.2034     1
47.3346     1
47.4154     1
47.2012     1
47.2785     1
47.4162     1
47.3870     1
47.2313     1
47.2715     1
Name: lat, Length: 5033, dtype: int64

In [26]:
df.long.value_counts()

-122.290    115
-122.300    111
-122.362    104
-122.291    100
-122.372     99
-122.363     99
-122.288     98
-122.357     96
-122.284     95
-122.172     94
-122.365     94
-122.306     93
-122.346     93
-122.351     92
-122.304     92
-122.348     92
-122.299     92
-122.375     92
-122.295     91
-122.350     90
-122.285     90
-122.292     90
-122.352     89
-122.289     89
-122.298     88
-122.359     88
-122.384     87
-122.317     86
-122.316     86
-122.301     86
           ...
-122.454      1
-121.835      1
-122.519      1
-122.469      1
-121.788      1
-121.891      1
-121.325      1
-122.447      1
-121.760      1
-122.514      1
-121.725      1
-121.716      1
-121.803      1
-122.499      1
-121.792      1
-122.512      1
-121.815      1
-121.359      1
-121.733      1
-121.711      1
-121.767      1
-121.480      1
-121.701      1
-122.479      1
-122.467      1
-121.403      1
-121.804      1
-121.726      1
-121.895      1
-121.893      1
Name: long, Length: 751, dtype: int64

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21597 entries, 0 to 21596
Data columns (total 21 columns):
id               21597 non-null int64
date             21597 non-null object
price            21597 non-null float64
bedrooms         21597 non-null int64
bathrooms        21597 non-null float64
sqft_living      21597 non-null int64
sqft_lot         21597 non-null int64
floors           21597 non-null float64
waterfront       19221 non-null float64
view             21534 non-null float64
condition        21597 non-null int64
grade            21597 non-null int64
sqft_above       21597 non-null int64
sqft_basement    21597 non-null object
yr_built         21597 non-null int64
yr_renovated     17755 non-null float64
zipcode          21597 non-null int64
lat              21597 non-null float64
long             21597 non-null float64
sqft_living15    21597 non-null int64
sqft_lot15       21597 non-null int64
dtypes: float64(8), int64(11), object(2)
memory usage: 3.5+ MB

In [32]:
np.dtype(df.date)

dtype('O')

In [33]:
type(df.date[1])

str

In [35]:
df.date.value_counts()

6/23/2014     142
6/25/2014     131
6/26/2014     131
7/8/2014      127
4/27/2015     126
3/25/2015     123
4/14/2015     121
7/9/2014      121
4/28/2015     121
4/22/2015     121
4/21/2015     119
6/24/2014     119
8/26/2014     117
10/28/2014    117
5/20/2014     116
7/14/2014     116
7/1/2014      115
8/20/2014     114
4/29/2015     113
6/17/2014     113
7/29/2014     112
4/8/2015      112
7/16/2014     111
5/28/2014     111
4/23/2015     110
8/25/2014     109
3/27/2015     109
8/5/2014      109
7/23/2014     107
6/20/2014     107
             ...
11/9/2014       3
2/14/2015       3
10/5/2014       3
12/27/2014      2
5/10/2015       2
8/9/2014        2
2/1/2015        2
9/7/2014        2
7/4/2014        2
8/24/2014       2
11/15/2014      2
11/28/2014      2
10/11/2014      2
12/21/2014      2
12/7/2014       2
5/11/2014       2
11/30/2014      1
11/2/2014       1
5/27/2015       1
1/17/2015       1
5/15/2015       1
7/27/2014       1
1/31/2015       1
1/10/2015       1
8/3/2014        1
5/17/2014       1
3/8/2015        1
5/24/2015       1
2/15/2015       1
8/30/2014       1
Name: date, Length: 372, dtype: int64

In [36]:
df['datetime_date'] = pd.to_datetime(df['date'])

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21597 entries, 0 to 21596
Data columns (total 22 columns):
id               21597 non-null int64
date             21597 non-null object
price            21597 non-null float64
bedrooms         21597 non-null int64
bathrooms        21597 non-null float64
sqft_living      21597 non-null int64
sqft_lot         21597 non-null int64
floors           21597 non-null float64
waterfront       19221 non-null float64
view             21534 non-null float64
condition        21597 non-null int64
grade            21597 non-null int64
sqft_above       21597 non-null int64
sqft_basement    21597 non-null object
yr_built         21597 non-null int64
yr_renovated     17755 non-null float64
zipcode          21597 non-null int64
lat              21597 non-null float64
long             21597 non-null float64
sqft_living15    21597 non-null int64
sqft_lot15       21597 non-null int64
datetime_date    21597 non-null datetime64[ns]
dtypes: datetime64[ns](1), float64(8), int64(11), object(2)
memory usage: 3.6+ MB

In [38]:
df.datetime_date.head()

0   2014-10-13
1   2014-12-09
2   2015-02-25
3   2014-12-09
4   2015-02-18
Name: datetime_date, dtype: datetime64[ns]

In [39]:
df['renovated'] = ''

In [40]:
df.loc[(df['yr_renovated'] != 0), 'renovated'] = 1
df.loc[(df['yr_renovated'] == 0), 'renovated'] = 0
df.loc[df['yr_renovated'].isna(), 'renovated'] = 0
# If there is a null value or zero for year of renovation, we've set it zero.

In [41]:
df['renovated'].value_counts()

0    20853
1      744
Name: renovated, dtype: int64

In [45]:
# adding a column for 'year last modified' - houses with value zero for renovation will have their yr_built
# value instead

df['yr_last_updated'] = df['yr_renovated']
df.loc[(df['renovated'] == 0), 'yr_last_updated'] = df.loc[(df['renovated']) == 0]['yr_built']

In [46]:
# we inspect the NaN values in yr_renovated and checked the measures of dispersion on yr_built to check our
# houses that had null values before deciding to either drop them or mark them as not renovated.
# We've come to the conclusion to replace Nan values with not renovated on the assumption that renovation would 
# have been advertized otherwise when trying to sell the house.


df.loc[df['yr_renovated']<1]
df.loc[df['yr_renovated'].isna()]['yr_built'].describe()

count    3842.000000
mean     1970.499219
std        29.477479
min      1900.000000
25%      1950.000000
50%      1974.000000
75%      1996.000000
max      2015.000000
Name: yr_built, dtype: float64

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21597 entries, 0 to 21596
Data columns (total 24 columns):
id                 21597 non-null int64
date               21597 non-null object
price              21597 non-null float64
bedrooms           21597 non-null int64
bathrooms          21597 non-null float64
sqft_living        21597 non-null int64
sqft_lot           21597 non-null int64
floors             21597 non-null float64
waterfront         19221 non-null float64
view               21534 non-null float64
condition          21597 non-null int64
grade              21597 non-null int64
sqft_above         21597 non-null int64
sqft_basement      21597 non-null object
yr_built           21597 non-null int64
yr_renovated       17755 non-null float64
zipcode            21597 non-null int64
lat                21597 non-null float64
long               21597 non-null float64
sqft_living15      21597 non-null int64
sqft_lot15         21597 non-null int64
datetime_date      21597 non-null datetime64[ns]
renovated          21597 non-null int64
yr_last_updated    21597 non-null float64
dtypes: datetime64[ns](1), float64(9), int64(12), object(2)
memory usage: 4.0+ MB

In [48]:
df.yr_last_updated.isna().sum()

0